:root {
  --animate-delay: 0.2s;
}

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 24px;
  color: #f0f8ff;
  background: #141416;
}

body h1 {
  font-size: 36px;
  line-height: 42px;
}

body .font-60 {
  font-size: 30px;
  cursor: default;
}

@media (min-width: 475px) {
  body .font-60 {
    font-size: 40px;
    line-height: 34px;
  }
}

@media (min-width: 768px) {
  body .font-60 {
    font-size: 50px;
    line-height: 54px;
  }
}

body .text_white {
  color: #f0f8ff;
}

body .text_blue {
  color: #1c5f9a;
}

body .btn_light {
  background: #f0f8ff;
  padding: 8px 22px;
  display: block;
  border: 2px solid #f0f8ff;
  background-color: transparent;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  color: #f0f8ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

body .btn_light:hover {
  background-color: #f0f8ff;
  color: #000;
}

@media (min-width: 768px) {
  body .btn_light {
    padding: 8px 32px;
  }
}

body .logo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  top: 5px;
}

body .logo svg {
  max-width: 40px;
  position: relative;
  top: 1px;
  margin-right: 2px;
}

body .logo svg .blinkit {
  -webkit-animation: blink-anime 1.6s infinite;
  animation: blink-anime 1.6s infinite;
}

body .logo h1 {
  font-size: 32px;
  line-height: 1;
  margin: 0;
  color: #f0f8ff;
  display: inline;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

@-webkit-keyframes blink-anime {
  0% {
    fill: #000;
  }

  49% {
    fill: #000;
  }

  60% {
    fill: transparent;
  }

  99% {
    fill: transparent;
  }

  to {
    fill: #000;
  }
}

@keyframes blink-anime {
  0% {
    fill: #000;
  }

  49% {
    fill: #000;
  }

  60% {
    fill: transparent;
  }

  99% {
    fill: transparent;
  }

  to {
    fill: #000;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  height: 100%;
}

@media (max-width: 992px) {
  .App .mobile_nav_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #141416;
  }
}

.App .contact_globe {
  position: fixed;
  bottom: 16%;
  left: -14%;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  z-index: -1;
  display: none;
  transition: opacity 0.4s ease-in;
}

@media (min-width: 768px) {
  .App .contact_globe {
    bottom: 10%;
  }
}

@media (min-width: 992px) {
  .App .contact_globe {
    top: 0;
    display: block;
    bottom: 0;
    margin: auto;
    left: -52%;
    max-height: 400px;
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  .App .contact_globe {
    max-height: 600px;
    left: -44%;
  }
}

.App .contact_globe .globe_wrap {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.App .contact_globe .globe_wrap div:first-of-type {
  max-height: 300px;
}

@media (min-width: 575px) {
  .App .contact_globe .globe_wrap div:first-of-type {
    max-height: 400px;
  }
}

@media (min-width: 1200px) {
  .App .contact_globe .globe_wrap div:first-of-type {
    max-height: 600px;
  }
}

.App .contact_globe:focus {
  outline: none;
}

.App .contact_globe canvas {
  background: transparent;
}

.App .contact_globe canvas:focus {
  outline: none;
}

.App .sendBack {
  z-index: -1 !important;
  opacity: 0;
}

.App .sendFront {
  z-index: 0 !important;
  opacity: 1;
}

.overlay_sides {
  margin: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

@media (min-width: 992px) {
  .overlay_sides {
    margin: 3.125rem 0;
  }
}

.overlay_sides.overlay_sides_right {
  right: 15px;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_right {
    align-items: flex-end;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3.125rem;
    height: calc(100vh - 6.25rem);
  }
}

.overlay_sides.overlay_sides_right .btn_down {
  display: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
  flex-direction: column;
  align-items: center;
  max-width: 20px;
  min-height: 100px;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_right .btn_down {
    display: flex;
  }
}

.overlay_sides.overlay_sides_right .btn_down svg {
  transition: transform 0.3s ease;
  position: relative;
  top: 40px;
}

.overlay_sides.overlay_sides_right .btn_down:hover svg {
  transform: translateY(10px);
}

.overlay_sides.overlay_sides_right .btn_down span {
  display: block;
  transform: rotate(-90deg);
  color: #f0f8ff;
  position: relative;
  font-size: 13px;
  opacity: 0.4;
  letter-spacing: 1px;
  min-width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay_sides.overlay_sides_right .btn_up {
  display: none;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
  flex-direction: column;
  align-items: center;
  max-width: 20px;
  min-height: 100px;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_right .btn_up {
    display: flex;
  }
}

.overlay_sides.overlay_sides_right .btn_up svg {
  transition: transform 0.3s ease;
  position: relative;
  top: -15px;
}

.overlay_sides.overlay_sides_right .btn_up:hover svg {
  transform: translateY(-10px);
}

.overlay_sides.overlay_sides_right .btn_up span {
  display: block;
  transform: rotate(-90deg);
  color: #f0f8ff;
  position: relative;
  font-size: 13px;
  opacity: 0.4;
  letter-spacing: 1px;
  min-width: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay_sides.overlay_sides_right .nav__wrapper {
  display: none;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_right .nav__wrapper {
    display: block;
  }
}

.overlay_sides.overlay_sides_right .nav__wrapper #side_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.overlay_sides.overlay_sides_right .nav__wrapper #side_nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  border-radius: 50px;
  height: 100%;
  display: block;
  opacity: 0.4;
  background-color: #f0f8ff;
}

.overlay_sides.overlay_sides_right .nav__wrapper #side_nav li {
  transition: all 0.5s ease-in-out;
}

.overlay_sides.overlay_sides_right .nav__wrapper #side_nav li a {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #f0f8ff;
  transition: all 0.5s ease-in-out;
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:first-child.passedSection:hover
  ~ .line {
  transform: translateY(0);
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(2).active
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(2).passedSection:hover
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(2):hover
  ~ .line {
  transform: translateY(50px);
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(3).active
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(3).passedSection:hover
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(3):hover
  ~ .line {
  transform: translateY(100px);
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(4).active
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(4).passedSection:hover
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(4):hover
  ~ .line {
  transform: translateY(150px);
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(5).active
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(5).passedSection:hover
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(5):hover
  ~ .line {
  transform: translateY(200px);
}

.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(6).active
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(6).passedSection:hover
  ~ .line,
.overlay_sides.overlay_sides_right
  .nav__wrapper
  #side_nav
  li:nth-child(6):hover
  ~ .line {
  transform: translateY(250px);
}
.overlay_sides.overlay_sides_right .nav__wrapper #side_nav .line {
  height: 50px;
  width: 3px;
  background-color: #f0f8ff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.overlay_sides.overlay_sides_left {
  left: 15px;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_left {
    left: 3.125rem;
  }
}

.overlay_sides.overlay_sides_left a {
  text-decoration: none;
}

.overlay_sides.overlay_sides_left .github {
  position: fixed;
  left: 15px;
  bottom: 1rem;
  display: none;
}

@media (min-width: 992px) {
  .overlay_sides.overlay_sides_left .github {
    left: 3.125rem;
    bottom: 3.125rem;
    display: block;
  }
}

.fullpage {
  background-color: #141416;
  color: #f0f8ff;
  position: relative;
  overflow: hidden;
}

@media (min-width: 992px) {
  .fullpage {
    overflow: visible;
  }
}

@media (max-width: 992px) {
  .fullpage .fp-section {
    height: auto !important;
  }

  .fullpage .fp-section .fp-slide {
    min-height: 100vh;
  }
}

@media (max-width: 992px) {
  .fullpage .fp-section .fp-tableCell {
    height: auto !important;
    padding: 50px 0;
  }
}

.fullpage .hero_decor {
  position: absolute;
  left: -650px;
  bottom: -450px;
  opacity: 0.4;
  transform: rotate(180deg);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

@media (min-width: 768px) {
  .fullpage .hero_decor {
    left: -550px;
    opacity: 0.7;
  }
}

.fullpage .about_decor {
  position: absolute;
  right: -650px;
  bottom: -450px;
  opacity: 0.4;
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

@media (min-width: 768px) {
  .fullpage .about_decor {
    opacity: 0.7;
    right: -550px;
  }
}

.fullpage .skills_decor {
  position: absolute;
  left: -650px;
  bottom: -450px;
  opacity: 0.4;
  transform: rotate(180deg);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

@media (min-width: 768px) {
  .fullpage .skills_decor {
    left: -550px;
    opacity: 0.7;
  }
}

.fullpage .contact_decor {
  position: absolute;
  right: -650px;
  top: -400px;
  opacity: 0.4;
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

@media (min-width: 768px) {
  .fullpage .contact_decor {
    opacity: 0.7;
    right: -550px;
  }
}

.fullpage .contact_decor_bottom {
  position: absolute;
  left: -650px;
  bottom: -450px;
  opacity: 0.4;
  transform: rotate(180deg);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

@media (min-width: 768px) {
  .fullpage .contact_decor_bottom {
    left: -550px;
    opacity: 0.7;
  }
}

.fullpage .innerin {
  width: 1440px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 101;
}

@media (min-width: 992px) {
  .fp-slidesNav.fp-bottom {
    bottom: 50px !important;
  }
}

.fp-slidesNav.fp-bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-slidesNav.fp-bottom ul li a.active span {
  width: 14px;
  height: 14px;
}

.fp-slidesNav.fp-bottom ul li a span {
  background-color: #444;
  width: 6px;
  height: 6px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  position: relative;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.hero .purple_romb1 {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: -350px;
  margin: 0 auto;
  max-width: 200px;
  opacity: 0.7;
  display: none;
}

@media (min-width: 768px) {
  .hero .purple_romb1 {
    display: block;
  }
}

.hero .dots_decor {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -10%;
  transform: rotate(90deg);
}

.hero .hero_cont {
  max-width: 500px;
}

@media (min-width: 768px) {
  .hero .hero_cont {
    width: 50%;
    max-width: 550px;
    margin: 0;
  }
}

.hero .hero_cont h1 {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 39px;
  line-height: 28px;
}

@media (min-width: 1140px) {
  .hero .hero_cont h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

.hero .hero_cont h1 div {
  display: inline;
  margin: 15px 0 0;
}

@media (min-width: 350px) {
  .hero .hero_cont h1 div {
    margin: 0 15px 15px 0;
  }
}

@media (min-width: 768px) {
  .hero .hero_cont h1 div {
    margin: 0 15px 0 0 !important;
  }
}

.hero .hero_cont h1 div span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.hero .hero_cont h1 div span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hero .hero_cont .hero_blurb {
  margin: 0;
  padding: 1.5rem 0;
}

@media (min-width: 768px) {
  .hero .hero_cont .hero_blurb {
    display: block;
    padding: 2rem 0;
  }
}

@media (min-width: 1200px) {
  .hero .hero_cont .hero_blurb {
    padding-right: 7rem;
  }
}

.hero .hero_cont a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #9c27b0;
}

.hero .hero_cont a svg {
  margin-left: 5px;
  transition: transform 0.3s ease-out;
  transform: rotate(-90deg);
}

.hero .hero_cont a:hover svg {
  transform: rotate(0deg);
}

.hero .hero_graphic {
  margin: 4rem auto 2rem;
}

@media (min-width: 768px) {
  .hero .hero_graphic {
    margin: 2rem auto 0;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .hero .hero_graphic {
    padding: 0 100px 0 0;
  }
}

.hero .hero_graphic img {
  width: 600px;
}

.computer_graphic svg {
  width: 100%;
  height: 100%;
  max-width: 900px;
}

.computer_graphic svg .code_graph path {
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
  transition: all 0.3s ease-out;
}

.computer_graphic
  svg
  .code_graph:hover
  path:not(#path3776):not(#path3780):not(#path3772) {
  fill: #f4a949 !important;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-300px);
  }

  to {
    transform: translatey(0);
  }
}

@keyframes float {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-300px);
  }

  to {
    transform: translatey(0);
  }
}

.about_section {
  align-items: center;
  padding: 100px 0;
}

@media (min-width: 768px) {
  .about_section {
    display: flex;
    justify-content: space-between;
    padding: 200px 0;
  }
}

@media (min-width: 992px) {
  .about_section {
    padding: 0;
  }
}

.about_section .dark_cube2 {
  position: absolute;
  opacity: 0.7;
  max-width: 100px;
  bottom: -200px;
  left: 10%;
  z-index: -1;
  display: block;
}

@media (min-width: 768px) {
  .about_section .dark_cube2 {
    display: block;
    max-width: 200px;
  }
}

.about_section .purple_romb2 {
  position: absolute;
  opacity: 0.7;
  max-width: 100px;
  top: 0;
  right: -200px;
  left: 0;
  margin: auto;
  z-index: -1;
  display: block;
}

@media (min-width: 768px) {
  .about_section .purple_romb2 {
    display: block;
    max-width: 150px;
  }
}

@media (min-width: 992px) {
  .about_section .purple_romb2 {
    top: -170px;
  }
}

.about_section .t {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  margin: auto;
  opacity: 0.1;
  -webkit-filter: drop-shadow(10px 10px 5px #000);
  filter: drop-shadow(10px 10px 5px #000);
}

@media (min-width: 768px) {
  .about_section .t {
    margin: auto auto auto 30%;
  }
}

.about_section .about_me {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

@media (min-width: 768px) {
  .about_section .about_me {
    width: 50%;
    max-width: 100%;
  }
}

.about_section .about_me .font-60 {
  margin: 0;
  font-size: 39px;
}

@media (min-width: 1140px) {
  .about_section .about_me .font-60 {
    font-size: 60px;
  }
}

.about_section .about_me .font-60 span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.about_section .about_me .font-60 span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.about_section .about_me .font-60 span.space {
  padding-right: 15px;
}

.about_section .about_me p {
  font-weight: 300;
  letter-spacing: 1px;
  color: #f0f8ff;
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .about_section .about_me p {
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .about_section .about_me p {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .about_section .about_info {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .about_section .about_info {
    margin-right: 100px;
  }
}

.rubberBand {
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.contact_section {
  padding: 100px 0 0;
}

@media (min-width: 992px) {
  .contact_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
}

.contact_section .mobile_globe {
  max-height: 300px;
  max-width: 300px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.contact_section .mobile_globe div:first-of-type {
  max-height: 300px;
}

@media (min-width: 420px) {
  .contact_section .mobile_globe {
    max-height: 400px;
    max-width: 400px;
  }

  .contact_section .mobile_globe div:first-of-type {
    max-height: 400px;
  }
}

@media (min-width: 575px) {
  .contact_section .mobile_globe {
    max-height: 500px;
    max-width: 500px;
  }

  .contact_section .mobile_globe div:first-of-type {
    max-height: 500px;
  }
}

@media (min-width: 992px) {
  .contact_section .mobile_globe {
    display: none;
  }
}

.contact_section .mobile_globe:focus {
  outline: none;
}

.contact_section .mobile_globe canvas {
  background: transparent;
}

.contact_section .mobile_globe canvas:focus {
  outline: none;
}

.contact_section .contact_cont {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .contact_section .contact_cont {
    margin-right: 20%;
    height: 70vh;
  }
}

@media (min-width: 1300px) {
  .contact_section .contact_cont {
    margin-right: 26%;
  }
}

@media (min-width: 768px) {
  .contact_section .contact_cont .cont_cont_wrap {
    max-width: 330px;
  }
}

@media (min-wdith: 992px) {
  .contact_section .contact_cont .cont_cont_wrap {
    max-width: 430px;
  }
}

.contact_section .white_cube1 {
  position: absolute;
  max-width: 70px;
  opacity: 0.7;
  bottom: 0;
  right: 100px;
  z-index: -1;
  display: none;
}

@media (min-width: 768px) {
  .contact_section .white_cube1 {
    display: block;
    max-width: 150px;
  }
}

.contact_section .insta {
  color: #f4a949;
  text-decoration: none;
}

.contact_section .insta:hover {
  text-decoration: underline;
}

.contact_section h1 {
  font-size: 32px;
  margin: 1.5rem 0;
}

.contact_section h1 a {
  color: #f0f8ff;
  display: inline-block;
  text-decoration: none;
  transition: color 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact_section h1 a:hover {
  color: #f4a949;
}

.skills_section {
  padding: 0 0 100px;
}

@media (min-width: 768px) {
  .skills_section {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .skills_section {
    padding: 0;
  }
}

.skills_section p {
  max-width: 700px;
}

@media (min-width: 768px) {
  .skills_section p {
    margin: 0 auto 1rem;
  }
}

.skills_section p a {
  color: #f4a949;
  text-decoration: none;
}

.skills_section p a:hover {
  text-decoration: underline;
}

.skills_section h1 {
  margin-top: 10px;
  margin-bottom: 1.5rem;
  font-size: 32px;
}

@media (min-width: 380px) {
  .skills_section h1 {
    font-size: 39px;
  }
}

@media (min-width: 1140px) {
  .skills_section h1 {
    font-size: 60px;
  }
}

.skills_section h1 span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.skills_section h1 span.space {
  padding-right: 15px;
  padding-left: 15px;
}

.skills_section h1 span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.skills_section h2 {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 0;
  font-size: 15px;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .skills_section h2 {
    font-size: 18px;
    padding-right: 1rem;
  }
}

.skills_section .skills_brands {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .skills_section .skills_brands {
    max-width: 1000px;
    justify-content: center;
  }
}

.skills_section .skills_brands div {
  text-align: center;
  margin: 0 0 30px;
  font-size: 16px;
  width: 33%;
}

@media (min-width: 430px) {
  .skills_section .skills_brands div {
    font-size: inherit;
  }
}

@media (min-width: 768px) {
  .skills_section .skills_brands div {
    width: auto;
  }
}

.skills_section .skills_brands div p {
  margin: 0;
}

@media (min-width: 430px) {
  .skills_section .skills_brands div p {
    margin: 0 0 0 10px;
  }
}

@media (min-width: 768px) {
  .skills_section .skills_brands div p {
    margin: 0;
  }
}

.skills_section .skills_brands div svg {
  width: 50px;
  height: 40px;
}

@media (min-width: 768px) {
  .skills_section .skills_brands div {
    display: block;
    margin: 0 30px 3rem;
    font-size: inherit;
  }

  .skills_section .skills_brands div svg {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1010px) {
  .skills_section .skills_brands div svg {
    width: 70px;
    height: 70px;
  }
}

.proj_1 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 30px;
}

@media (min-width: 768px) {
  .proj_1 {
    display: flex;
  }
}

.proj_1 .dots_decor {
  position: absolute;
  left: 15%;
  z-index: -1;
  display: none;
}

@media (min-width: 992px) {
  .proj_1 .dots_decor {
    display: block;
  }
}

.proj_1 .phone {
  min-width: 50%;
}

.proj_1 .phone svg {
  max-width: 500px;
  max-height: 530px;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .proj_1 .phone svg {
    max-width: 700px;
  }
}

.proj_1 .proj_cont {
  max-width: 550px;
  margin: 0 auto 0 0;
  position: relative;
  z-index: 10;
}

@media (min-width: 992px) {
  .proj_1 .proj_cont {
    width: 50%;
    padding-left: 3rem;
  }
}

.proj_1 .proj_cont a {
  color: #9ae17b;
}

.proj_1 .proj_cont .proj_blurb {
  margin: 0;
  padding: 0 0 1.5rem;
}

@media (min-width: 992px) {
  .proj_1 .proj_cont .proj_blurb {
    padding: 1.5rem 0;
  }
}

@media (min-width: 992px) and (max-width: 1265px) {
  .proj_1 .proj_cont .proj_blurb {
    margin: 0 100px 0 0;
  }
}

.proj_1 .proj_cont .space {
  padding: 0 15px;
}

.proj_1 .proj_cont h2 {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 0;
  font-size: 15px;
}

@media (min-width: 992px) {
  .proj_1 .proj_cont h2 {
    font-size: 18px;
  }
}

.proj_1 .proj_cont h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 39px;
}

@media (min-width: 1140px) {
  .proj_1 .proj_cont h1 {
    font-size: 60px;
  }
}

.proj_1 .proj_cont h1 span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.proj_1 .proj_cont h1 span.space {
  padding-right: 15px;
}

.proj_1 .proj_cont h1 span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.proj_1 .proj_cont a.arrow_link {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.proj_1 .proj_cont a.arrow_link svg {
  margin-left: 5px;
  transition: transform 0.3s ease-out;
  transform: rotate(-90deg);
}

.proj_1 .proj_cont a.arrow_link:hover svg {
  transform: rotate(-90deg) translateY(10px);
}

.proj_1 .proj_cont .view_proj {
  display: flex;
}

.proj_1 .proj_cont .view_proj a {
  margin-right: 3rem;
}

.proj_1 .proj_cont .view_proj .fit_logo svg .cls-2 {
  fill: #9ae17b;
}

.proj_1 .proj_cont .view_proj .fit_logo svg path {
  fill: #f0f8ff;
}

@media (min-width: 768px) {
  .portfolio_section {
    display: flex;
    justify-content: center;
  }
}

.portfolio_section .sphere_sm {
  position: absolute;
  top: -100px;
  left: -50%;
  right: 0;
  margin: auto;
}

.portfolio_section .sphere_md {
  position: absolute;
  bottom: -200px;
  left: 0;
}

.portfolio_section .sphere_lg {
  position: absolute;
  top: 0;
  right: 10%;
  opacity: 0.7;
  z-index: -1;
}

@media (min-width: 768px) {
  .portfolio_section .sphere_lg {
    opacity: 1;
  }
}

.portfolio_section .portfolio_cont {
  max-width: 550px;
  flex: 1 1 auto;
}

.portfolio_section .portfolio_cont h1 {
  margin-top: 10px;
  margin-bottom: 0;
  max-width: 300px;
}

@media (min-width: 475px) {
  .portfolio_section .portfolio_cont h1 {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .portfolio_section .portfolio_cont h1 {
    text-align: center;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.portfolio_section .portfolio_cont h1 span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.portfolio_section .portfolio_cont h1 span.space {
  padding: 0 15px;
}

.portfolio_section .portfolio_cont h1 span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.portfolio_section .portfolio_cont .portfolio_blurb {
  padding: 1.5rem 0;
  margin: 0;
}

@media (min-width: 768px) {
  .portfolio_section .portfolio_cont .portfolio_blurb {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .portfolio_section .portfolio_cont .proj_link {
    display: flex;
    justify-content: center;
  }
}

.portfolio_section .portfolio_cont .proj_link a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #9c27b0;
}

.portfolio_section .portfolio_cont a {
  text-decoration: none;
  font-weight: 600;
  color: #f4a949;
}

.portfolio_section .portfolio_cont a:hover {
  opacity: 0.9;
}

.portfolio_section .portfolio_cont a svg {
  margin-left: 5px;
  transition: transform 0.3s ease-out;
  transform: rotate(-90deg);
}

.portfolio_section .portfolio_cont a:hover svg {
  transform: rotate(-90deg) translateY(10px);
}

.portfolio_section .portfolio_particles {
  flex: 1 1 auto;
}

.portfolio_section .portfolio_particles #tsparticles {
  height: 450px;
}

.crwn_proj {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .crwn_proj {
    flex-direction: row;
  }
}

.crwn_proj .macbook_mockup {
  width: 100%;
}

.crwn_proj .macbook_mockup img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .crwn_proj .macbook_mockup {
    margin-right: 70px;
  }

  .crwn_proj .macbook_mockup img {
    max-width: 700px;
  }
}

.crwn_proj .dark_cube1 {
  position: absolute;
  max-width: 80px;
  bottom: 50px;
  right: 10%;
  display: none;
}

@media (min-width: 768px) {
  .crwn_proj .dark_cube1 {
    display: block;
    max-width: 100px;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .crwn_proj .dark_cube1 {
    right: 14%;
    max-width: 150px;
  }
}

.crwn_proj .dark_romb {
  position: absolute;
  max-width: 200px;
  top: -60px;
  right: 0;
  left: 40%;
  margin: 0 auto;
  display: none;
}

@media (min-width: 768px) {
  .crwn_proj .dark_romb {
    display: block;
    z-index: 1;
  }
}

.crwn_proj .dark_romb img {
  width: 100%;
}

.crwn_proj .white_cube2 {
  position: absolute;
  bottom: -100px;
  right: 0;
  left: 150px;
  margin: 0 auto;
  z-index: -1;
  max-width: 150px;
  opacity: 0.7;
  display: none;
}

@media (min-width: 768px) {
  .crwn_proj .white_cube2 {
    display: block;
  }
}

.crwn_proj .white_cube2 img {
  width: 100%;
}

.crwn_proj .portfolio_cont {
  max-width: 550px;
  flex: 1 1 auto;
}

.crwn_proj .portfolio_cont .view_proj {
  display: flex;
  align-items: center;
}

.crwn_proj .portfolio_cont h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 15px;
}

@media (min-width: 992px) {
  .crwn_proj .portfolio_cont h2 {
    font-size: 18px;
  }
}

.crwn_proj .portfolio_cont h2 span:first-child {
  opacity: 0.7;
}

.crwn_proj .portfolio_cont h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 39px;
}

@media (min-width: 1140px) {
  .crwn_proj .portfolio_cont h1 {
    font-size: 60px;
  }
}

.crwn_proj .portfolio_cont h1 span {
  display: inline-block;
  transition: all 0.3s ease-out;
}

.crwn_proj .portfolio_cont h1 span.space {
  padding: 0 15px 0 0;
}

.crwn_proj .portfolio_cont h1 span:hover {
  color: #f4a949;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.crwn_proj .portfolio_cont .portfolio_blurb {
  padding: 0 0 1.5rem;
  margin: 0;
}

@media (min-width: 992px) {
  .crwn_proj .portfolio_cont .portfolio_blurb {
    padding: 1.5rem 0;
  }
}

.crwn_proj .portfolio_cont a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  color: #f4a949;
}

.crwn_proj .portfolio_cont a.code-link {
  color: #fff;
  margin-bottom: 10px;
}

.crwn_proj .portfolio_cont a svg {
  margin-left: 5px;
  transition: transform 0.3s ease-out;
  transform: rotate(-90deg);
}

.crwn_proj .portfolio_cont a:hover svg {
  transform: rotate(-90deg) translateY(10px);
}

.crwn_proj .portfolio_particles {
  flex: 1 1 auto;
}

.crwn_proj .portfolio_particles #tsparticles {
  height: 450px;
}

/*# sourceMappingURL=main.828cfb7c.chunk.css.map */
